################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntityFrameWork/.vs/EntityFrameWork/v16/Server/sqlite3/db.lock
/EntityFrameWork/.vs/EntityFrameWork/v15/Server/sqlite3/db.lock
